body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
}

.header-text{
    padding: 12px 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width:80%;
}

.logo-img{
    border: solid 0px #42515f;
}

.add-text {
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}

.book-text {
    top: 25px;
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;
}

*{
    box-sizing:border-box;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    background: #008CFF;
    padding: 20px 0px;
    color: #ffffff;
    font: normal normal bold 18px/20px Montserrat;
    max-width: 600px;
    margin: 0px auto;
    margin-top: 20px;
}

.close {
    float: right;
    cursor: pointer;
    margin-right: 10px;
    color: #ffffff;
}

.form {
    width: 100%;
    padding: 44px 60px;
    margin-top: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    justify-content: center;
    max-width: 600px;
    margin: 0px auto;
    font: normal normal normal 16px Roboto;
}

label {
    display: inline-block;
    min-width: 140px;
}

.text {
    font-size: 18px;
    color: #42525f;
    opacity: 1;
    font-family: Roboto;
}
.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #008CFF;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}
